<section class="grid grid-3col">

  <fieldset class="resource grid-span-3 flexcol">
    <div class="resource flexrow">
      <label for="system.age" class="resource-label">Age</label>
      <input type="text" name="system.age" value="{{system.age}}" data-dtype="String"/>
    </div>
    <div class="resource grid-span-2 flexrow">
      <label for="system.pronouns" class="resource-label">Pronouns</label>
      <input type="text" name="system.pronouns" value="{{system.pronouns}}" data-dtype="String"/>
    </div>
    <div class="resource grid-span-3 flexrow">
      <label for="system.fear" class="resource-label">Fear</label>
      <input type="text" name="system.fear" value="{{system.fear}}" data-dtype="String"/>
    </div>
    <div class="resource grid-span-3 flexrow">
      <label for="system.motivation" class="resource-label">Motivation</label>
      <input type="text" name="system.motivation" value="{{system.motivation}}" data-dtype="String"/>
    </div>
    <div class="resource grid-span-3 flexrow">
      <label for="system.description" class="resource-label">Description</label>
      <input type="text" name="system.description" value="{{system.description}}" data-dtype="String"/>
    </div>
    <div class="resource grid-span-3 flexrow">
      <label for="system.grade" class="resource-label">Grade</label>
      <input type="text" name="system.grade" value="{{system.grade}}" data-dtype="String"/>
    </div>
  </fieldset>

</section>
